extends layout
block script1 
    script(src="domPersonal.js", defer)
    script(src="domFunsionesPersonal.js",defer)
block content 
        #divProfesionalAcceso.grid12-1-1 
                h3 USUARIO
                        label=`${perfil.nombrePersona}  ${perfil.apellidoPersona}`
                img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")        
        #divContenedorPerfil.grid12-1-2.contenedorGrid
                    section#sectionPerfil.grid12-1-1.ocultar.form
                        h5 PERFIL
                        img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")  
                        br
                        p=`DNI : ${perfil.dniPersona}`
                        br
                        p#PNombrePersona=`Nombre  : ${perfil.nombrePersona}`
                        br   
                        p#PApellidoPersona=`Apellido : ${perfil.apellidoPersona}`
                        br    
                        p#PEMail=`E_Mail : ${perfil.eMail}`
                        br
                        p#PIntereses=`Intereses : ${perfil.intereses}`
                        br
                        p#PAntecedentes=`Antecedentes: ${perfil.antecedentes}`
                    section#sectionModificar.grid12-2-1.ocultar 
                        select#selectModificar(name="modificar")
                            option(value="0") Seleccionar
                            option(value="1") Modificar Nombre
                            option(value="2") Modificar Apellido
                            option(value="3") Modificar eMail
                            option(value="4") Modificar Imagen de Perfil
                            option(value="5") Modificar Intereses 
                            option(value="6") Modificar Anrecedentes
                    section#sectionModificarImagenPerfil.ocultar 
                        img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")        
                        form#formSubirImagen(method="POST", action="/subirImagenPerfil", enctype="multipart/form-data")
                                label(for="imagen") Selecciona una imagen:
                                input.limpiar(type="file", id="imagen", name="imagen", accept="image/*", required, style="display:none")
                                br                               
                                button(type="button", onclick="document.getElementById('imagen').click()") Elegir archivo
                                br
                                span#nombreArchivo No se ha seleccionado archivo
                                br
                                input(type="hidden", name="idPerfil", value=perfil.idPerfil)
                                button(type="submit") Subir Imagen
                    section#sectionModificarNombre.ocultar 
                               
                                                    
block boton1 
        button.boton2(type="button",onclick='volver()') volver  
block boton2 
        button.boton2(onclick="cerrarSesion()") Cerrar Sesión 
block boton11 
        button.boton2(type="button",onclick='verPerfil()') Ver Perfil 
block boton12
        button.boton2(type="button",onclick='modificarPerfil()') Modificar Perfil      
block boton13
        button.boton2(type="button",onclick='buscarPersonas()') Buscar Personas                  
            
                                                               