extends layout
block script1 
    script(src="domPersonal.js", defer)
    script(src="domFunsionesPersonal.js",defer)
    script(src="domDatosPersonales.js",defer)
block content 
        #divProfesionalAcceso.grid12-1-1 
                h3 USUARIO
                        label#lblNombreYApellido=`${perfil.nombrePersona}  ${perfil.apellidoPersona}`
                img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")        
        #divContenedorPerfil.grid12-1-2.contenedorGrid
                    section#sectionPerfil.grid12-1-1.ocultar.form
                        h5=`Perfil :${perfil.nombrePerfil}`
                        img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")  
                        br
                        p=`DNI : ${perfil.dniPersona}`
                        br
                        p#PNombrePersona=`Nombre  : ${perfil.nombrePersona}`
                        br   
                        p#PApellidoPersona=`Apellido : ${perfil.apellidoPersona}`
                        br    
                        p#PEMail=`E_Mail : ${perfil.eMail}`
                        br
                        p#PIntereses=`Intereses : ${perfil.intereses}`
                        br
                        p#PAntecedentes=`Antecedentes: ${perfil.antecedentes}`
                    section#sectionModificar.grid12-2-1.ocultar 
                        select#selectModificar(name="modificar")
                            option(value="0") Seleccionar
                            option(value="1") Modificar Nombre
                            option(value="2") Modificar Apellido
                            option(value="3") Modificar eMail
                            option(value="4") Modificar Imagen de Perfil
                            option(value="5") Modificar Intereses 
                            option(value="6") Modificar Antecedentes
                    section#sectionModificarImagenPerfil.ocultar 
                        img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")        
                        form#formSubirImagen(method="POST", action="/subirImagenPerfil", enctype="multipart/form-data")
                                label(for="imagen") Selecciona una imagen:
                                input.limpiar(type="file", id="imagen", name="imagen", accept="image/*", required, style="display:none")
                                br                               
                                button(type="button", onclick="document.getElementById('imagen').click()") Elegir archivo
                                br
                                span#nombreArchivo No se ha seleccionado archivo
                                br
                                input(type="hidden", name="idPerfil", value=perfil.idPerfil)
                                button(type="submit") Subir Imagen
                    section#sectionModificarNombre.ocultar
                               p#pNombreActual=`Nombre Actual : ${perfil.nombrePersona}` 
                               label(for="inputNuevoNombrePersonaPerfil") Nuevo Nombre Persona 
                               input.limpiar(type="text",id="inputNuevoNombrePersonaPerfil",name="inputNuevoNombrePersonaPerfil",placeHolder="Nombre Persona") 
                               br
                               button.boton(type="button",onclick='modificarNombrePersonaPerfil()') Modificar
                    section#sectionModificarApellido.ocultar
                               p#pApellidoActual=`Apellido Actual : ${perfil.apellidoPersona}` 
                               label(for="inputNuevoApellidoPersonaPerfil") Nuevo Apellido Persona 
                               input.limpiar(type="text",id="inputNuevoApellidoPersonaPerfil",name="inputNuevoApellidoPersonaPerfil",placeHolder="Apellido Persona") 
                               br
                               button.boton(type="button",onclick='modificarApellidoPersonaPerfil()') Modificar
                    section#sectionModificarEMail.ocultar
                               p#pEMailActual=`E-Mail Actual : ${perfil.eMail}` 
                               label(for="inputNuevoEMailPerfil") Nuevo E-Mail Persona 
                               input.limpiar(type="email",id="inputNuevoEMailPerfil",name="inputNuevoEMailPerfil",placeHolder="E-Mail Persona") 
                               br
                               button.boton(type="button",onclick='modificarEMailPerfil()') Modificar
                    section#sectionModificarIntereses.ocultar
                               p#pInteresesActual=`Intereses Actuales : ${perfil.intereses}` 
                               label(for="inputNuevoInteresesPerfil") Nuevos Intereses Persona 
                               textarea.limpiar(type="text",id="inputNuevoInteresesPerfil",name="inputNuevoInteresesPerfil",placeHolder="Intereses Perfil") 
                               br
                               button.boton(type="button",onclick='modificarInteresesPerfil()') Modificar      
                    section#sectionModificarAntecedentes.ocultar
                               p#pAntecedentesActual=`Antecedentes Actuales : ${perfil.antecedentes}` 
                               label(for="inputNuevoAntecedentesPerfil") Nuevos Antecedentes Persona 
                               textarea.limpiar(type="text",id="inputNuevoAntecedentesPerfil",name="inputNuevoAntesedentesPerfil",placeHolder="Antesedentes Perfil") 
                               br
                               button.boton(type="button",onclick='modificarAntesedentesPerfil()') Modificar                                                 
                    section#sectionBuscarPersonas.ocultar.grid12-1-3
                               label(for="inputBuscarPersonas") Buscar Personas:
                               input.limpiar(type="text", id="inputBuscarPersonas", name="inputBuscarPersonas",placeHolder="Apellido") 
                               img(id="imgLupa",src="./Iconos/lupa.svg", alt="Lupa")
                               p#mensageNoEncontrado.ocultar No se encontraron resulados para su busqueda  
                               table#todosMedicos
                                        thead#cabecera
                                        tr
                                                th Nombre Perfil
                                                th Nombre
                                                th Apellido
                                                th imagen
                                                th Seleccionar
                                        tbody#cuerpo         
        script.
                     const perfil = !{JSON.stringify(perfil)}; 
        script. 
                     const parametros = !{JSON.stringify(parametros)};                                                         
block boton1 
        button.boton2(type="button",onclick='volver()') volver  
block boton2 
        button.boton2(onclick="cerrarSesion()") Cerrar Sesión 
block boton11 
        button.boton2(type="button",onclick='verPerfil()') Ver Perfil 
block boton12
        button.boton2(type="button",onclick='modificarPerfil()') Modificar Perfil      
block boton13
        button.boton2(type="button",onclick='mostrarBuscarPersonas()') Buscar Personas                  
block boton14
        button.boton2(type="button",onclick='redirigirCarpetas()') Ir a Albumes            
                                                               