extends layout
block script1 
    script(src="domCarpetas.js", defer)
    script(src="domImagenes.js", defer)
    script(src="domFunsionesPersonal.js", defer)
block content
        #divProfesionalAcceso.grid12-1-1 
                h3 USUARIO
                        label#lblNombreYApellido=`${perfil.nombrePersona}  ${perfil.apellidoPersona}`
                img.imgPerfil(src=`${perfil.imgPerfil}`, alt="Foto de perfil")
        
        #divContenedorAlbum.ocultar.grid12-1-2.contenedorGrid
                        section#sectionCrearAlbum.ocultar.grid12-1-1.form
                                button.botonCerrar(type="button",onclick='ocultarElemento(divContenedorAlbum)')
                                h5 Crear Album
                                label(for="inputTituloAlbum") Titulo del Album
                                input.limpiar(type="text", id="inputTituloAlbum", name="inputTituloAlbum", placeholder="Titulo del Album", required)
                                br
                                label(for="selectTags") Tags o Referencia 
                                select#selectTags(name="tag")
                                        option(value="") Selecciona un tag
                                        each tag in tags
                                                option(value=tag.id_tags)= tag.nombre_tags 
                                br
                                button.boton(type="button", onclick='crearAlbum()') Crear Album      
        #divMostrarAlbumes.ocultar.grid12-1-3
                button.botonCerrar(type="button",onclick='ocultarElemento(divMostrarAlbumes)')
                #divBuscadorTituloAlbum.form
                        label(for="inputBuscarTituloAlbum") Buscar Por Titulo del Album:
                        input.limpiar(type="text", id="inputBuscarTituloAlbum", name="inputBuscarTituloAlbum",placeHolder="Titulo Album") 
                        img(id="imgLupa",src="./Iconos/lupa.svg", alt="Lupa")
                #divFiltrarTags.form    
                        label(for="filtrarPorTags") Filtrar Por tags:
                        input.limpiar(type="text", id="filtrarPorTags", name="filtrarPorTags",list="dtlTagsFiltrar", autocomplete="off")
                        img(id="imgFiltro",src="./Iconos/filtro.svg", alt="Filtro")
                        datalist#dtlTagsFiltrar
                p#mensageNoEncontrado.ocultar No se encontraron resulados para su busqueda    
                br
                table#todosMedicos
                        thead#cabecera
                        tr
                                th id Album
                                th Titulo Album
                                th Tags
                                th Estado
                                th Seleccionar
                        tbody#cuerpo
        #divAlbumPersonalSeleccionado.ocultar2.grid12-1-4.form
                button.botonCerrar(type="button",onclick='ocultarElemento(divAlbumPersonalSeleccionado)')
                p#pDatosAlbumSeleccionado 
                button.boton2(type="button",onclick='modificarTitulo()') Modificar Titulo 
                button.boton2(type="button",onclick='modificarTags()') Modificar Tags 
                button.boton2(type="button",onclick='modificarEstadoAlbum()') modificar Estado 
                button.boton2(type="button",onclick='subirImagen()') Subir Imagen
                button.boton2(type="button",onclick='verImagenes()') Ver Imagenes
        #divMostrarImagenes.grid6-4-5.ocultar3.form
        #divImagenSeleccionada.ocultar3.form.grid6-4-6
                button.botonCerrar(type="button",onclick='ocultarElemento(divImagenSeleccionada)') 
                img#imgSeleccionada.imagenAlbum.limpiar
        #divDatosImagenSeleccionada.ocultar3.form.grid6-4-7 
                button.botonCerrar(type="button",onclick='ocultarElemento(divDatosImagenSeleccionada)')        
                p#pImagenSeleccionada
                button.boton2(type="button",onclick='mostrarModificarTituloImagen()') Modificar Titulo 
                button.boton2(type="button",onclick='mostrarModificarCaption()') Modificar Caption 
                button.boton2(type="button",onclick='mostrarModificarVisibilidad()') Modificar Visibilidad 
                button.boton2(type="button",onclick='modificarActivoImagen()') Habilitar Inavilitar
        #divModificarTituloImagen.form.ocultar2.grid6-4-8
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarTituloImagen)')
                label(for="inputModificarTituloImagen") Modificar Titulo 
                br
                input.limpiar(type="text",id="inputModificarTituloImagen",name="inputModificarTituloImagen",placeHolder="Titulo Nuevo")
                br
                button.boton(type="button", onclick='modificarTituloImagen()') Modificar Titulo
        #divModificarCaptionImagen.form.ocultar2.grid6-4-8
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarCaptionImagen)')
                label(for="inputModificarCaptionImagen") Modificar Caption 
                br
                input.limpiar(type="text",id="inputModificarCaptionImagen",name="inputModificarCaptionImagen",placeHolder="Caption Nuevo")
                br
                button.boton(type="button", onclick='modificarCaptionImagen()') Modificar Caption 
        #divModificarVisibilidad.form.ocultar2.grid6-4-8 
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarVisibilidad)')
                label(for="inputVisibilidad") Visibilidad:
                input.limpiar(type="text", id="inputVisibilidad", name="inputVisibilidad",list="dtlVisibilidad", autocomplete="off")
                datalist#dtlVisibilidad 
                button.boton(type="button",onclick='modificarVisibilidadImagen()') Modificar Visibilidad      
        #divModificarTitulo.ocultar3.form.grid12-1-5 
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarTitulo)')
                label(for="inputModificarTituloAlbum") Modificar Titulo del Album
                br
                input.limpiar(type="text", id="inputModificarTituloAlbum", name="inputModificarTituloAlbum", placeholder="Nuevo Titulo del Album", required)
                br
                button.boton(type="button", onclick='modificarTituloAlbum()') Modificar Titulo
        #divModificarTags.ocultar3.form.grid12-1-5 
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarTags)')
                label(for="selectModificarTags") Modificar Tags del Album
                br
                select#selectModificarTags(name="tag")
                        option(value="") Selecciona un tag
                        each tag in tags
                                option(value=tag.id_tags)= tag.nombre_tags 
                br
                button.boton(type="button", onclick='modificarTagsAlbum()') Modificar Tags 
        #divModificarEstadoAlbum.ocultar3.form.grid12-1-5
                button.botonCerrar(type="button",onclick='ocultarElemento(divModificarEstadoAlbum)')
                button.boton(type="button", onclick='modificarEstadoAlbumPersonal()') Modificar Estado del Album
        #divSubirImagen.ocultar3.form.grid12-1-5
                button.botonCerrar(type="button",onclick='ocultarElemento(divSubirImagen)')
                form#formSubirImagenAlbum(method="POST", action="/subirImagen", enctype="multipart/form-data")
                                label(for="imagenSubir") Selecciona una imagen:
                                input.limpiar(type="file", id="imagenSubir", name="imagenSubir", accept="image/*", required, style="display:none")
                                br                               
                                button(type="button", onclick="document.getElementById('imagenSubir').click()") Elegir archivo
                                br
                                span#nombreArchivoSubir No se ha seleccionado archivo
                                br
                                input#idPerfil.limpiar(type="hidden", name="idPerfil")
                                input#idAlbumSeleccionado.limpiar(type="hidden", name="idAlbumSeleccionado")
                                button(type="submit") Subir Imagen  
                                                                        
        script.    
                const perfil = !{JSON.stringify(perfil)}; 
        script. 
                const parametros = !{JSON.stringify(parametros)};  
        script. 
                const tags = !{JSON.stringify(tags)};                                                                   
block boton1 
        button.boton2(type="button",onclick='volver()') volver 
block boton2 
        button.boton2(onclick="cerrarSesion()") Cerrar Sesión 
block boton11 
        button.boton2(type="button",onclick='mostrarAlbumes()') Ver Albumes Personales
block boton12 
        button.boton2(type="button",onclick='mostrarCrearAlbum()') Crear Album 
